@model ProjectXbet.ViewModels.MatchViewModel

<div class="col-md-4 m-auto" style="border: 4px solid black;">
    <h4>Edit match</h4>
    <form class="m-auto" asp-controller="Administration" asp-action="EditMatch" method="post">
        <input type="hidden" asp-for="MatchId" />
        <h5>Match id:@Model.MatchId</h5>
        <div class="form-group">
            <label asp-for="MatchDateTime" class="control-label"></label>
            <input asp-for="MatchDateTime" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ClubHomeName" class="control-label"></label>
            <input asp-for="ClubHomeName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ClubAwayName" class="control-label"></label>
            <input asp-for="ClubAwayName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ClubHomeGoalsHalf" class="control-label"></label>
            <input asp-for="ClubHomeGoalsHalf" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ClubAwayGoalsHalf" class="control-label"></label>
            <input asp-for="ClubAwayGoalsHalf" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ClubHomeGoals" class="control-label"></label>
            <input asp-for="ClubHomeGoals" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ClubAwayGoals" class="control-label"></label>
            <input asp-for="ClubAwayGoals" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LeagueId" class="control-label"></label>
            <select asp-for="LeagueId">
                @foreach (var item in Model.Leagues)
                {
                    <option value=@item.LeagueId>@item.LeagueName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>
    @if (ViewData["msg"] != null)
    {
        <p>@ViewData["msg"]</p>
    }
</div>
