@using ProjectXbet.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Log in</title>
</head>
<body>
    
    <div class="login-form">
        <div class="row" style="align-content: center; height: 100%">
            <div class="col text-center">
                <a asp-controller="Landing" asp-action="Index">
                    <img src="~/img/logo-large.svg" alt="logo" />
                </a>
                
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-left">
                <span class="text-landing font-weight-bold">Log in</span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col text-center">

                <form id="login-form" asp-controller="Account" asp-action="Login">
                    <div class="login-form-items">
                        <div class="login-form-item">
                            <input type="text" asp-for="UserName" placeholder="username" />
                            <span class="fs-s text-ludicrous" asp-validation-for="UserName"></span>
                        </div>

                        <div class="login-form-item">
                            <input type="password" asp-for="Password" placeholder="password" />
                            <span class="fs-s text-ludicrous" asp-validation-for="Password"></span>
                        </div>

                        <div class="login-form-item flex-row justify-content-end">
                            <small style="color: #535353;">Remember me</small>
                            <input asp-for="RememberMe" />
                        </div>

                        <div class="login-form-item flex-row justify-content-end">
                            <input class="btn btn-primary" type="submit" value="Log in" />
                        </div>
                        <br />

                    </div>
                </form>
                <div class="login-form-items">
                    <div class="login-form-item" style="margin-top: 10vh;">
                        <div class="row">
                            <div class="col text-center">
                                <a asp-controller="Account" asp-action="Login">
                                    <small class="text-dark">Password recovery</small>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a asp-controller="Account" asp-action="Register">
                                    <small class="text-primary">Register</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



