@using ProjectXbet.ViewModels
@model RegisterViewModel

@{
    ViewBag.Title = "Registracija";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Log in - Tip Factory</title>
</head>
<body>
    <div class="login-form">
        <div class="row" style="align-content: center; height: 100%">
            <div class="col text-center">
                <a asp-controller="Landing" asp-action="Index">
                    <img src="~/img/logo-large.svg" alt="logo" />
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-left">
                <span class="text-landing">Registration</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">

                <form id="login-form" asp-controller="Account" asp-action="Register">
                    <div class="login-form-items">
                        <div class="login-form-item">
                            <input type="text" asp-for="UserName" placeholder="username" title="username will be used for logging in" />
                            <span class="fs-s text-ludicrous" asp-validation-for="UserName"></span>
                        </div>

                        <div class="login-form-item">
                            <input type="text" asp-for="Email" placeholder="email" title="email will be used for password recovery" />
                            <span class="fs-s text-ludicrous" asp-validation-for="Email"></span>
                        </div>

                        <div class="login-form-item">
                            <input type="password" asp-for="Password" placeholder="password" title="make sure it's a good one" />
                            <span class="fs-s text-ludicrous" asp-validation-for="Password"></span>
                        </div>

                        <div class="login-form-item">
                            <input type="password" asp-for="ConfirmPassword" placeholder="confirm password" title="make sure passwords match" />
                            <span class="fs-s text-ludicrous" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="login-form-item flex-row justify-content-end">
                            <input class="btn btn-primary" type="submit" value="Register" />
                        </div>

                    </div>
                </form>
                <div class="login-form-items">
                    <div class="login-form-item">
                        <div class="row">
                            <div class="col text-center">
                                <a asp-controller="Account" asp-action="Login">
                                    <small class="text-dark">Password recovery</small>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a asp-controller="Account" asp-action="Login">
                                    <small class="text-primary">Log in</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>