@model ProjectXbet.ViewModels.BaseViewModel


    
        
<div class="p-5">
            <span class="section-heading">Account upgrade</span>
            <div class="border-danger bg-light" style="border: 2px solid red; width: 90%;">
                <h5 class="text-danger">Since we are still heavily testing all the tips we provide, you will be getting all of them through Basic type of profile.</h5>
            </div>
            <div class="row account-types-holder">
                <div class="col-lg-3 col-sm-12">
                    <div class="account-type-holder">
                        <div class="text-center mt-3">
                            <svg width="150" height="111" viewBox="0 0 150 111" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M137.5 12.3333V98.6667H12.5V12.3333H137.5ZM150 0H0V111H150V0ZM87.5 83.8482V86.3333H25V83.7618C24.975 76.9045 25.275 72.9887 33.275 71.1633C42.0438 69.1653 50.6938 67.3832 46.5375 59.8105C34.2063 37.3823 43.0187 24.6667 56.25 24.6667C69.2313 24.6667 78.2563 36.9075 65.975 59.8105C61.9313 67.3338 70.275 69.1222 79.2313 71.1633C87.2563 72.9948 87.5313 76.9353 87.5 83.8482Z" fill="#1A181B" />
                            </svg>

                            <h5 class="text-dark">Basic</h5>
                        </div>
                        <div class="text-center">
                            <img src="~/img/priceFree.svg" alt="free" />

                        </div>
                        <div class="text-center">
                            <p class="text-dark font-weight-bold">Features</p>
                            <p class="text-dark">
                                9 monotonous tips per round.
                                <br />
                                5 adventurous tips per round.
                                <br />
                                Unlimited ludicrous tips.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="account-type-holder">
                        <div class="text-center mt-3">
                            <svg width="100" height="74" viewBox="0 0 100 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M74 17C66.0863 29.2949 61 36.9858 61 44.4615C61 51.9405 66.8159 58 74 58C81.1841 58 87 51.9405 87 44.4615C87 36.9858 81.9137 29.2949 74 17ZM73.9561 25.7467C74.715 26.9852 75.625 29.1411 75.625 31.4183C75.625 38.0945 69.125 39.1878 69.125 35.1254C69.125 32.3357 72.3555 28.2169 73.9561 25.7467Z" fill="#00A3FF" />
                                <path d="M91.6667 8.22222V65.7778H8.33333V8.22222H91.6667ZM100 0H0V74H100V0ZM58.3333 55.8988V57.5556H16.6667V55.8412C16.65 51.2697 16.85 48.6591 22.1833 47.4422C28.0292 46.1102 33.7958 44.9221 31.025 39.8737C22.8042 24.9216 28.6792 16.4444 37.5 16.4444C46.1542 16.4444 52.1708 24.605 43.9833 39.8737C41.2875 44.8892 46.85 46.0814 52.8208 47.4422C58.1708 48.6632 58.3542 51.2902 58.3333 55.8988Z" fill="#1A181B" />
                            </svg>

                            <h5 class="text-dark">Monotoner</h5>
                        </div>
                    <div class="text-center">
                        <svg width="255"
                             height="94"
                             viewBox="0 0 255 94"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d)">
                                <rect x="4" width="247" height="85" fill="#484553" />
                            </g>
                            <path d="M80.2183 43.4204C82.0129 44.3117 83.2956 45.3294 84.0664 46.4736C84.8493 47.6178 85.2407 48.9186 85.2407 50.376C85.2407 52.4235 84.5723 54.2301 83.2354 55.7959C81.5973 57.7109 79.2547 58.6685 76.2075 58.6685C73.2687 58.6685 71.0405 57.8314 69.5229 56.1572C68.0054 54.471 67.2466 52.6162 67.2466 50.5928C67.2466 49.1113 67.644 47.7804 68.439 46.6001C69.2339 45.4077 70.5588 44.3478 72.4136 43.4204C71.1128 42.7459 70.1372 41.9089 69.4868 40.9092C68.8364 39.9095 68.5112 38.8376 68.5112 37.6934C68.5112 36.5371 68.8545 35.411 69.541 34.3149C70.2396 33.2069 71.1971 32.3397 72.4136 31.7134C73.6421 31.075 74.967 30.7559 76.3882 30.7559C77.7733 30.7559 79.056 31.075 80.2363 31.7134C81.4167 32.3517 82.3381 33.2189 83.0005 34.3149C83.675 35.411 84.0122 36.5612 84.0122 37.7656C84.0122 38.9701 83.693 40.042 83.0547 40.9814C82.4284 41.9209 81.4829 42.7339 80.2183 43.4204ZM76.2617 33.3394C74.8044 33.3394 73.5939 33.7729 72.6304 34.6401C71.6789 35.4953 71.2031 36.519 71.2031 37.7114C71.2031 38.8918 71.715 39.9637 72.7388 40.9272C73.7746 41.8787 74.979 42.3545 76.3521 42.3545C77.2313 42.3545 78.0623 42.1377 78.8452 41.7041C79.6281 41.2705 80.2363 40.6803 80.6699 39.9336C81.1156 39.1748 81.3384 38.416 81.3384 37.6572C81.3384 36.5853 80.9048 35.5977 80.0376 34.6943C79.1704 33.791 77.9118 33.3394 76.2617 33.3394ZM76.3882 44.7573C74.5575 44.7573 73.0218 45.3535 71.7812 46.5459C70.5407 47.7262 69.9204 49.1053 69.9204 50.6831C69.9204 51.6587 70.1854 52.5801 70.7153 53.4473C71.2453 54.3145 71.986 54.9829 72.9375 55.4526C73.889 55.9224 74.991 56.1572 76.2437 56.1572C78.1828 56.1572 79.7244 55.5851 80.8687 54.4409C82.0129 53.2967 82.585 51.9598 82.585 50.4302C82.585 48.9487 81.9767 47.6359 80.7603 46.4917C79.5558 45.3354 78.0985 44.7573 76.3882 44.7573ZM96.2135 58.6685L94.0275 57.2593L101.2 46.3833C100.236 46.6965 99.333 46.853 98.4899 46.853C96.3822 46.853 94.5936 46.0942 93.1242 44.5767C91.6548 43.047 90.9201 41.1681 90.9201 38.9399C90.9201 37.4103 91.2754 36.0312 91.986 34.8027C92.6966 33.5742 93.7023 32.5926 95.0031 31.8579C96.3159 31.1232 97.7191 30.7559 99.2126 30.7559C100.682 30.7559 102.037 31.1112 103.278 31.8218C104.53 32.5324 105.512 33.526 106.222 34.8027C106.933 36.0794 107.288 37.4404 107.288 38.8857C107.288 39.9818 107.065 41.132 106.62 42.3364C106.186 43.5288 105.403 44.9681 104.271 46.6543L96.2135 58.6685ZM99.1042 44.5225C100.658 44.5225 101.977 43.9805 103.061 42.8965C104.157 41.8005 104.705 40.4816 104.705 38.9399C104.705 37.3983 104.157 36.0854 103.061 35.0015C101.977 33.9054 100.658 33.3574 99.1042 33.3574C97.5625 33.3574 96.2436 33.9054 95.1476 35.0015C94.0636 36.0854 93.5216 37.3983 93.5216 38.9399C93.5216 40.4816 94.0636 41.8005 95.1476 42.8965C96.2436 43.9805 97.5625 44.5225 99.1042 44.5225ZM117.556 53.1221L119.995 54.2783L116.328 61.1074L114.539 60.3486L117.556 53.1221ZM132.179 58.6685L129.993 57.2593L137.165 46.3833C136.201 46.6965 135.298 46.853 134.455 46.853C132.347 46.853 130.559 46.0942 129.089 44.5767C127.62 43.047 126.885 41.1681 126.885 38.9399C126.885 37.4103 127.241 36.0312 127.951 34.8027C128.662 33.5742 129.667 32.5926 130.968 31.8579C132.281 31.1232 133.684 30.7559 135.178 30.7559C136.647 30.7559 138.002 31.1112 139.243 31.8218C140.495 32.5324 141.477 33.526 142.187 34.8027C142.898 36.0794 143.253 37.4404 143.253 38.8857C143.253 39.9818 143.031 41.132 142.585 42.3364C142.151 43.5288 141.368 44.9681 140.236 46.6543L132.179 58.6685ZM135.069 44.5225C136.623 44.5225 137.942 43.9805 139.026 42.8965C140.122 41.8005 140.67 40.4816 140.67 38.9399C140.67 37.3983 140.122 36.0854 139.026 35.0015C137.942 33.9054 136.623 33.3574 135.069 33.3574C133.528 33.3574 132.209 33.9054 131.113 35.0015C130.029 36.0854 129.487 37.3983 129.487 38.9399C129.487 40.4816 130.029 41.8005 131.113 42.8965C132.209 43.9805 133.528 44.5225 135.069 44.5225ZM155.292 58.6685L153.106 57.2593L160.278 46.3833C159.315 46.6965 158.412 46.853 157.568 46.853C155.461 46.853 153.672 46.0942 152.203 44.5767C150.733 43.047 149.999 41.1681 149.999 38.9399C149.999 37.4103 150.354 36.0312 151.065 34.8027C151.775 33.5742 152.781 32.5926 154.082 31.8579C155.395 31.1232 156.798 30.7559 158.291 30.7559C159.761 30.7559 161.116 31.1112 162.356 31.8218C163.609 32.5324 164.59 33.526 165.301 34.8027C166.012 36.0794 166.367 37.4404 166.367 38.8857C166.367 39.9818 166.144 41.132 165.698 42.3364C165.265 43.5288 164.482 44.9681 163.35 46.6543L155.292 58.6685ZM158.183 44.5225C159.736 44.5225 161.055 43.9805 162.139 42.8965C163.235 41.8005 163.783 40.4816 163.783 38.9399C163.783 37.3983 163.235 36.0854 162.139 35.0015C161.055 33.9054 159.736 33.3574 158.183 33.3574C156.641 33.3574 155.322 33.9054 154.226 35.0015C153.142 36.0854 152.6 37.3983 152.6 38.9399C152.6 40.4816 153.142 41.8005 154.226 42.8965C155.322 43.9805 156.641 44.5225 158.183 44.5225ZM174.865 40.5659C175.792 37.5428 177.502 35.158 179.995 33.4116C182.501 31.6532 185.373 30.7739 188.613 30.7739C189.396 30.7739 190.36 30.8582 191.504 31.0269L190.835 33.5742C190.137 33.4297 189.414 33.3574 188.667 33.3574C186.27 33.3574 184.084 33.9958 182.109 35.2725C180.146 36.5492 178.713 38.3136 177.809 40.5659H189.354L188.703 43.0591H177.195C177.111 43.6131 177.069 44.1912 177.069 44.7935C177.069 45.1548 177.099 45.6245 177.159 46.2026H187.836L187.186 48.6777H177.701C178.532 51.0264 179.947 52.8691 181.947 54.2061C183.958 55.5309 186.246 56.1934 188.812 56.1934C189.595 56.1934 190.432 56.091 191.323 55.8862V58.4155C190.552 58.5601 189.649 58.6323 188.613 58.6323C185.229 58.6323 182.302 57.7531 179.833 55.9946C177.376 54.2362 175.708 51.7972 174.828 48.6777H172.155L172.787 46.2026H174.377C174.329 45.5282 174.304 44.9862 174.304 44.5767C174.304 44.1912 174.329 43.6854 174.377 43.0591H172.155L172.823 40.5659H174.865Z"
                                  fill="white" />
                            <defs>
                                <filter id="filter0_d"
                                        x="0"
                                        y="0"
                                        width="255"
                                        height="94"
                                        filterUnits="userSpaceOnUse"
                                        color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha"
                                                   type="matrix"
                                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feOffset dy="5" />
                                    <feGaussianBlur stdDeviation="2" />
                                    <feColorMatrix type="matrix"
                                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0" />
                                    <feBlend mode="normal"
                                             in2="BackgroundImageFix"
                                             result="effect1_dropShadow" />
                                    <feBlend mode="normal"
                                             in="SourceGraphic"
                                             in2="effect1_dropShadow"
                                             result="shape" />
                                </filter>
                            </defs>
                        </svg>
                    </div>
                    <div class="text-center">
                        <p class="text-dark font-weight-bold">Features</p>
                        <p class="text-dark">
                            Unlimited monotonous tips.
                            <br />
                            9 adventurous tips per round.
                            <br />
                            Unlimited ludicrous tips.
                        </p>
                        <a class="btn btn-primary mt-3 mb-3" asp-controller="Account" asp-action="Checkout" asp-route-PlanId="2">Buy now</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="account-type-holder">
                        <div class="text-center mt-3">
                            <svg width="100" height="74" viewBox="0 0 100 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M68.4167 34.75H60.5V31.5H68.4167C69.2907 31.5 70 30.772 70 29.875C70 28.978 69.2907 28.25 68.4167 28.25C67.7786 28.25 67.2339 28.6432 66.9838 29.2039L64.2145 27.6504C65.0046 26.0823 66.58 25 68.4167 25C74.7041 25 74.7009 34.75 68.4167 34.75ZM79.5 46.125C79.5 43.434 77.372 41.25 74.75 41.25H63.6667V44.5H74.75C75.624 44.5 76.3333 45.228 76.3333 46.125C76.3333 47.022 75.624 47.75 74.75 47.75C74.1119 47.75 73.5673 47.3568 73.3171 46.7961L70.5478 48.3496C71.3379 49.9177 72.9133 51 74.75 51C77.372 51 79.5 48.816 79.5 46.125ZM81.1055 33.6856C81.2353 32.462 82.2328 31.5 83.4583 31.5C84.7677 31.5 85.8333 32.5936 85.8333 33.9375C85.8333 35.2814 84.7677 36.375 83.4583 36.375H70V39.625H83.4583C86.5173 39.625 89 37.077 89 33.9375C89 30.798 86.5173 28.25 83.4583 28.25C80.887 28.25 78.7448 30.0635 78.1193 32.5026L81.1055 33.6856ZM66.8333 36.375H54.1667V39.625H66.8333V36.375ZM60.5 41.25H51V44.5H60.5V41.25ZM57.3333 31.5H51V34.75H57.3333V31.5Z" fill="#00C944" />
                                <path d="M91.6667 8.22222V65.7778H8.33333V8.22222H91.6667ZM100 0H0V74H100V0ZM58.3333 55.8988V57.5556H16.6667V55.8412C16.65 51.2697 16.85 48.6591 22.1833 47.4422C28.0292 46.1102 33.7958 44.9221 31.025 39.8737C22.8042 24.9216 28.6792 16.4444 37.5 16.4444C46.1542 16.4444 52.1708 24.605 43.9833 39.8737C41.2875 44.8892 46.85 46.0814 52.8208 47.4422C58.1708 48.6632 58.3542 51.2902 58.3333 55.8988Z" fill="#1A181B" />
                            </svg>

                            <h5 class="text-dark">Adventurer</h5>
                        </div>
                    <div class="text-center">
                        <svg width="255"
                             height="94"
                             viewBox="0 0 255 94"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d)">
                                <rect x="4" width="247" height="85" fill="#484553" />
                            </g>
                            <path d="M80.2183 43.4204C82.0129 44.3117 83.2956 45.3294 84.0664 46.4736C84.8493 47.6178 85.2407 48.9186 85.2407 50.376C85.2407 52.4235 84.5723 54.2301 83.2354 55.7959C81.5973 57.7109 79.2547 58.6685 76.2075 58.6685C73.2687 58.6685 71.0405 57.8314 69.5229 56.1572C68.0054 54.471 67.2466 52.6162 67.2466 50.5928C67.2466 49.1113 67.644 47.7804 68.439 46.6001C69.2339 45.4077 70.5588 44.3478 72.4136 43.4204C71.1128 42.7459 70.1372 41.9089 69.4868 40.9092C68.8364 39.9095 68.5112 38.8376 68.5112 37.6934C68.5112 36.5371 68.8545 35.411 69.541 34.3149C70.2396 33.2069 71.1971 32.3397 72.4136 31.7134C73.6421 31.075 74.967 30.7559 76.3882 30.7559C77.7733 30.7559 79.056 31.075 80.2363 31.7134C81.4167 32.3517 82.3381 33.2189 83.0005 34.3149C83.675 35.411 84.0122 36.5612 84.0122 37.7656C84.0122 38.9701 83.693 40.042 83.0547 40.9814C82.4284 41.9209 81.4829 42.7339 80.2183 43.4204ZM76.2617 33.3394C74.8044 33.3394 73.5939 33.7729 72.6304 34.6401C71.6789 35.4953 71.2031 36.519 71.2031 37.7114C71.2031 38.8918 71.715 39.9637 72.7388 40.9272C73.7746 41.8787 74.979 42.3545 76.3521 42.3545C77.2313 42.3545 78.0623 42.1377 78.8452 41.7041C79.6281 41.2705 80.2363 40.6803 80.6699 39.9336C81.1156 39.1748 81.3384 38.416 81.3384 37.6572C81.3384 36.5853 80.9048 35.5977 80.0376 34.6943C79.1704 33.791 77.9118 33.3394 76.2617 33.3394ZM76.3882 44.7573C74.5575 44.7573 73.0218 45.3535 71.7812 46.5459C70.5407 47.7262 69.9204 49.1053 69.9204 50.6831C69.9204 51.6587 70.1854 52.5801 70.7153 53.4473C71.2453 54.3145 71.986 54.9829 72.9375 55.4526C73.889 55.9224 74.991 56.1572 76.2437 56.1572C78.1828 56.1572 79.7244 55.5851 80.8687 54.4409C82.0129 53.2967 82.585 51.9598 82.585 50.4302C82.585 48.9487 81.9767 47.6359 80.7603 46.4917C79.5558 45.3354 78.0985 44.7573 76.3882 44.7573ZM96.2135 58.6685L94.0275 57.2593L101.2 46.3833C100.236 46.6965 99.333 46.853 98.4899 46.853C96.3822 46.853 94.5936 46.0942 93.1242 44.5767C91.6548 43.047 90.9201 41.1681 90.9201 38.9399C90.9201 37.4103 91.2754 36.0312 91.986 34.8027C92.6966 33.5742 93.7023 32.5926 95.0031 31.8579C96.3159 31.1232 97.7191 30.7559 99.2126 30.7559C100.682 30.7559 102.037 31.1112 103.278 31.8218C104.53 32.5324 105.512 33.526 106.222 34.8027C106.933 36.0794 107.288 37.4404 107.288 38.8857C107.288 39.9818 107.065 41.132 106.62 42.3364C106.186 43.5288 105.403 44.9681 104.271 46.6543L96.2135 58.6685ZM99.1042 44.5225C100.658 44.5225 101.977 43.9805 103.061 42.8965C104.157 41.8005 104.705 40.4816 104.705 38.9399C104.705 37.3983 104.157 36.0854 103.061 35.0015C101.977 33.9054 100.658 33.3574 99.1042 33.3574C97.5625 33.3574 96.2436 33.9054 95.1476 35.0015C94.0636 36.0854 93.5216 37.3983 93.5216 38.9399C93.5216 40.4816 94.0636 41.8005 95.1476 42.8965C96.2436 43.9805 97.5625 44.5225 99.1042 44.5225ZM117.556 53.1221L119.995 54.2783L116.328 61.1074L114.539 60.3486L117.556 53.1221ZM132.179 58.6685L129.993 57.2593L137.165 46.3833C136.201 46.6965 135.298 46.853 134.455 46.853C132.347 46.853 130.559 46.0942 129.089 44.5767C127.62 43.047 126.885 41.1681 126.885 38.9399C126.885 37.4103 127.241 36.0312 127.951 34.8027C128.662 33.5742 129.667 32.5926 130.968 31.8579C132.281 31.1232 133.684 30.7559 135.178 30.7559C136.647 30.7559 138.002 31.1112 139.243 31.8218C140.495 32.5324 141.477 33.526 142.187 34.8027C142.898 36.0794 143.253 37.4404 143.253 38.8857C143.253 39.9818 143.031 41.132 142.585 42.3364C142.151 43.5288 141.368 44.9681 140.236 46.6543L132.179 58.6685ZM135.069 44.5225C136.623 44.5225 137.942 43.9805 139.026 42.8965C140.122 41.8005 140.67 40.4816 140.67 38.9399C140.67 37.3983 140.122 36.0854 139.026 35.0015C137.942 33.9054 136.623 33.3574 135.069 33.3574C133.528 33.3574 132.209 33.9054 131.113 35.0015C130.029 36.0854 129.487 37.3983 129.487 38.9399C129.487 40.4816 130.029 41.8005 131.113 42.8965C132.209 43.9805 133.528 44.5225 135.069 44.5225ZM155.292 58.6685L153.106 57.2593L160.278 46.3833C159.315 46.6965 158.412 46.853 157.568 46.853C155.461 46.853 153.672 46.0942 152.203 44.5767C150.733 43.047 149.999 41.1681 149.999 38.9399C149.999 37.4103 150.354 36.0312 151.065 34.8027C151.775 33.5742 152.781 32.5926 154.082 31.8579C155.395 31.1232 156.798 30.7559 158.291 30.7559C159.761 30.7559 161.116 31.1112 162.356 31.8218C163.609 32.5324 164.59 33.526 165.301 34.8027C166.012 36.0794 166.367 37.4404 166.367 38.8857C166.367 39.9818 166.144 41.132 165.698 42.3364C165.265 43.5288 164.482 44.9681 163.35 46.6543L155.292 58.6685ZM158.183 44.5225C159.736 44.5225 161.055 43.9805 162.139 42.8965C163.235 41.8005 163.783 40.4816 163.783 38.9399C163.783 37.3983 163.235 36.0854 162.139 35.0015C161.055 33.9054 159.736 33.3574 158.183 33.3574C156.641 33.3574 155.322 33.9054 154.226 35.0015C153.142 36.0854 152.6 37.3983 152.6 38.9399C152.6 40.4816 153.142 41.8005 154.226 42.8965C155.322 43.9805 156.641 44.5225 158.183 44.5225ZM174.865 40.5659C175.792 37.5428 177.502 35.158 179.995 33.4116C182.501 31.6532 185.373 30.7739 188.613 30.7739C189.396 30.7739 190.36 30.8582 191.504 31.0269L190.835 33.5742C190.137 33.4297 189.414 33.3574 188.667 33.3574C186.27 33.3574 184.084 33.9958 182.109 35.2725C180.146 36.5492 178.713 38.3136 177.809 40.5659H189.354L188.703 43.0591H177.195C177.111 43.6131 177.069 44.1912 177.069 44.7935C177.069 45.1548 177.099 45.6245 177.159 46.2026H187.836L187.186 48.6777H177.701C178.532 51.0264 179.947 52.8691 181.947 54.2061C183.958 55.5309 186.246 56.1934 188.812 56.1934C189.595 56.1934 190.432 56.091 191.323 55.8862V58.4155C190.552 58.5601 189.649 58.6323 188.613 58.6323C185.229 58.6323 182.302 57.7531 179.833 55.9946C177.376 54.2362 175.708 51.7972 174.828 48.6777H172.155L172.787 46.2026H174.377C174.329 45.5282 174.304 44.9862 174.304 44.5767C174.304 44.1912 174.329 43.6854 174.377 43.0591H172.155L172.823 40.5659H174.865Z"
                                  fill="white" />
                            <defs>
                                <filter id="filter0_d"
                                        x="0"
                                        y="0"
                                        width="255"
                                        height="94"
                                        filterUnits="userSpaceOnUse"
                                        color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha"
                                                   type="matrix"
                                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feOffset dy="5" />
                                    <feGaussianBlur stdDeviation="2" />
                                    <feColorMatrix type="matrix"
                                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0" />
                                    <feBlend mode="normal"
                                             in2="BackgroundImageFix"
                                             result="effect1_dropShadow" />
                                    <feBlend mode="normal"
                                             in="SourceGraphic"
                                             in2="effect1_dropShadow"
                                             result="shape" />
                                </filter>
                            </defs>
                        </svg>
                    </div>
                    <div class="text-center">
                        <p class="text-dark font-weight-bold">Features</p>
                        <p class="text-dark">
                            12 monotonous tips per round.
                            <br />
                            Unlimited adventurous tips.
                            <br />
                            Unlimited ludicrous tips.
                        </p>
                        <a class="btn btn-primary mt-3 mb-3" asp-controller="Account" asp-action="Checkout" asp-route-PlanId="3">Buy now</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="account-type-holder">
                        <div class="text-center mt-3">
                            <svg width="100" height="74" viewBox="0 0 100 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M67.6875 17C68.7381 29.2811 58 33.5092 58 44.3263C58 51.6738 63.2855 57.945 73.5 57.9997C83.7145 58.0544 89 50.4592 89 42.7C89 35.6258 85.4488 28.9548 78.7493 24.807C80.3407 29.2606 78.2223 33.3281 76.1643 34.729C76.2848 29.0283 74.2268 20.5687 67.6875 17ZM75.8009 39.2082C82.2678 46.0227 78.2964 54.5831 73.1022 54.5831C69.9419 54.5831 68.3161 52.422 68.3333 50.1807C68.3661 46.0244 73.0471 46.021 75.8009 39.2082Z" fill="#FF0000" />
                                <path d="M91.6667 8.22222V65.7778H8.33333V8.22222H91.6667ZM100 0H0V74H100V0ZM58.3333 55.8988V57.5556H16.6667V55.8412C16.65 51.2697 16.85 48.6591 22.1833 47.4422C28.0292 46.1102 33.7958 44.9221 31.025 39.8737C22.8042 24.9216 28.6792 16.4444 37.5 16.4444C46.1542 16.4444 52.1708 24.605 43.9833 39.8737C41.2875 44.8892 46.85 46.0814 52.8208 47.4422C58.1708 48.6632 58.3542 51.2902 58.3333 55.8988Z" fill="#1A181B" />
                            </svg>

                            <h5 class="text-dark">Professional</h5>
                        </div>
                    <div class="text-center">
                        <svg width="255" height="94" viewBox="0 0 255 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d)">
                                <rect x="4" width="247" height="85" fill="#484553" />
                            </g>
                            <path d="M62.8472 31.4243H68.0684V58H65.4307V34.0259H61.2573L62.8472 31.4243ZM94.8673 30.7559H95.4093V49.2739H98.6252V51.8213H95.4093V58H92.7536V51.8213H80.0529L94.8673 30.7559ZM92.7536 49.2739V38.1992L84.9308 49.2739H92.7536ZM109.327 58.6685L107.141 57.2593L114.313 46.3833C113.35 46.6965 112.446 46.853 111.603 46.853C109.496 46.853 107.707 46.0942 106.238 44.5767C104.768 43.047 104.034 41.1681 104.034 38.9399C104.034 37.4103 104.389 36.0312 105.099 34.8027C105.81 33.5742 106.816 32.5926 108.117 31.8579C109.429 31.1232 110.833 30.7559 112.326 30.7559C113.795 30.7559 115.15 31.1112 116.391 31.8218C117.644 32.5324 118.625 33.526 119.336 34.8027C120.046 36.0794 120.402 37.4404 120.402 38.8857C120.402 39.9818 120.179 41.132 119.733 42.3364C119.3 43.5288 118.517 44.9681 117.385 46.6543L109.327 58.6685ZM112.218 44.5225C113.771 44.5225 115.09 43.9805 116.174 42.8965C117.27 41.8005 117.818 40.4816 117.818 38.9399C117.818 37.3983 117.27 36.0854 116.174 35.0015C115.09 33.9054 113.771 33.3574 112.218 33.3574C110.676 33.3574 109.357 33.9054 108.261 35.0015C107.177 36.0854 106.635 37.3983 106.635 38.9399C106.635 40.4816 107.177 41.8005 108.261 42.8965C109.357 43.9805 110.676 44.5225 112.218 44.5225ZM130.67 53.1221L133.109 54.2783L129.441 61.1074L127.653 60.3486L130.67 53.1221ZM145.292 58.6685L143.106 57.2593L150.278 46.3833C149.315 46.6965 148.412 46.853 147.568 46.853C145.461 46.853 143.672 46.0942 142.203 44.5767C140.733 43.047 139.999 41.1681 139.999 38.9399C139.999 37.4103 140.354 36.0312 141.065 34.8027C141.775 33.5742 142.781 32.5926 144.082 31.8579C145.395 31.1232 146.798 30.7559 148.291 30.7559C149.761 30.7559 151.116 31.1112 152.356 31.8218C153.609 32.5324 154.59 33.526 155.301 34.8027C156.012 36.0794 156.367 37.4404 156.367 38.8857C156.367 39.9818 156.144 41.132 155.698 42.3364C155.265 43.5288 154.482 44.9681 153.35 46.6543L145.292 58.6685ZM148.183 44.5225C149.736 44.5225 151.055 43.9805 152.139 42.8965C153.235 41.8005 153.783 40.4816 153.783 38.9399C153.783 37.3983 153.235 36.0854 152.139 35.0015C151.055 33.9054 149.736 33.3574 148.183 33.3574C146.641 33.3574 145.322 33.9054 144.226 35.0015C143.142 36.0854 142.6 37.3983 142.6 38.9399C142.6 40.4816 143.142 41.8005 144.226 42.8965C145.322 43.9805 146.641 44.5225 148.183 44.5225ZM168.406 58.6685L166.22 57.2593L173.392 46.3833C172.428 46.6965 171.525 46.853 170.682 46.853C168.574 46.853 166.786 46.0942 165.316 44.5767C163.847 43.047 163.112 41.1681 163.112 38.9399C163.112 37.4103 163.467 36.0312 164.178 34.8027C164.889 33.5742 165.894 32.5926 167.195 31.8579C168.508 31.1232 169.911 30.7559 171.405 30.7559C172.874 30.7559 174.229 31.1112 175.47 31.8218C176.722 32.5324 177.704 33.526 178.414 34.8027C179.125 36.0794 179.48 37.4404 179.48 38.8857C179.48 39.9818 179.257 41.132 178.812 42.3364C178.378 43.5288 177.595 44.9681 176.463 46.6543L168.406 58.6685ZM171.296 44.5225C172.85 44.5225 174.169 43.9805 175.253 42.8965C176.349 41.8005 176.897 40.4816 176.897 38.9399C176.897 37.3983 176.349 36.0854 175.253 35.0015C174.169 33.9054 172.85 33.3574 171.296 33.3574C169.755 33.3574 168.436 33.9054 167.34 35.0015C166.256 36.0854 165.714 37.3983 165.714 38.9399C165.714 40.4816 166.256 41.8005 167.34 42.8965C168.436 43.9805 169.755 44.5225 171.296 44.5225ZM187.978 40.5659C188.905 37.5428 190.616 35.158 193.109 33.4116C195.614 31.6532 198.487 30.7739 201.727 30.7739C202.509 30.7739 203.473 30.8582 204.617 31.0269L203.949 33.5742C203.25 33.4297 202.527 33.3574 201.781 33.3574C199.384 33.3574 197.198 33.9958 195.223 35.2725C193.259 36.5492 191.826 38.3136 190.923 40.5659H202.467L201.817 43.0591H190.309C190.224 43.6131 190.182 44.1912 190.182 44.7935C190.182 45.1548 190.212 45.6245 190.272 46.2026H200.95L200.299 48.6777H190.814C191.645 51.0264 193.061 52.8691 195.06 54.2061C197.071 55.5309 199.36 56.1934 201.925 56.1934C202.708 56.1934 203.545 56.091 204.436 55.8862V58.4155C203.666 58.5601 202.762 58.6323 201.727 58.6323C198.342 58.6323 195.415 57.7531 192.946 55.9946C190.489 54.2362 188.821 51.7972 187.942 48.6777H185.268L185.9 46.2026H187.49C187.442 45.5282 187.418 44.9862 187.418 44.5767C187.418 44.1912 187.442 43.6854 187.49 43.0591H185.268L185.936 40.5659H187.978Z" fill="white" />
                            <defs>
                                <filter id="filter0_d" x="0" y="0" width="255" height="94" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feOffset dy="5" />
                                    <feGaussianBlur stdDeviation="2" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                                </filter>
                            </defs>
                        </svg>

                    </div>
                    <div class="text-center">
                        <p class="text-dark font-weight-bold">Features</p>
                        <p class="text-dark">
                            Unlimited monotonous tips.
                            <br />
                            Unlimited adventurous tips.
                            <br />
                            Unlimited ludicrous tips.
                        </p>
                        <a class="btn btn-primary mt-3 mb-3" asp-controller="Account" asp-action="Checkout" asp-route-PlanId="4">Buy now</a>
                    </div>
                    </div>
                </div>
            </div>
</div>