@model ProjectXbet.ViewModels.BaseViewModel


<div class="p-5">
    <span class="section-heading">Terms & conditions</span>
    <p>Last updated: 24th September 2020</p>
    <p>
        We reserve the right to change these terms and conditions at any time and thus you should check back regularly to see if there are any changes.
        <br /> <br />
        Every bet you can place involves risk. We do not guarantee that tips we offer will bring you profit. We advise not to bet amounts that you are not prepared to lose. Every bet you place
        is at your own risk.
        <br /> <br />
        By using our services, you accept full responsibilities for all your actions which are linked to the information you have gained on Tip Factory.
        <br /> <br />
        Even though we try our best to make our product bug free, we can not guarantee it is completely.
        <br /> <br />
        Odds for tips that we are offering are not same everywhere, they could differ depending on bookmakers.
        <br /> <br />
        Tip Factory contains links to 3rd party internet applications. We do not accept any responsibility for dealings you have with those 3rd party applications. It is your responsibility
        to read their terms and conditions and use them carefully.
    </p>

    <img src="~/img/logo-large.svg" alt="Alternate Text" />
</div>

